<!DOCTYPE html>
<html lang="ES">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ejemplo de HTML y CSS" />
    <meta name="keywords" content="HTML, CSS, Ejemplo" />
    <meta charset="UTF-8" />
    <title>Ejemplo Html-CSS</title>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca De</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
    </header>
    <main>
        <article class="top">
            <header>
                <h2><a href="#">¿Que es HTML5?</a></h2>
            </header>
            <footer>/
                <h5><i>Esto fue posteado el 15/08/2024 </i></h5>/
            </footer>
            <content>
                <p>Durante los ultimos años, el estandar HTML5 se ha estado aafianzando
                    en muchas paginas web. Sin embargo, ¿que podemos decir con eso? ¿Cual es la diferencia
                    crucial entre HTML "común", por asi decrilo, y este nuevo estandar? Hoy hablaremos sobre esto y responderemos a la pregunta de qué es HTML5 
                </p>
                <p>
                    HTML 5 es un lenguaje mas semántico. En otras palabras, es un lenguaje que permite a los desarrolladores web describir con mayor precisión el contenido de una pagina web., se dota de un significado a las diferentes
                    partes de la pagina Wb, de forma que el navegador puede distinguir la parte que forma parte de la cabecera gracias a que hay una etiqueta que dice "cabecera", bueno lo dice en ingles "header". ¿PAra que sirve?
                    Ayuda a los buscadores como Google a entender la pagina Web, algo que se espera sea positivo para el SEO. y tambien para que los navegadores muestren de forma inteligente diferentes versiones de la pagina Web sin tener que 
                    usar plugins para dispositivos especificos.  
                </p>
            </content>
        </article>
        <article>
            <header>
                <h2><a href="#">Introduccion a CSS3</a></h2>
            </header>
            <footer>
                <h5><i>Esto fue posteado el 15/08/2024</i></h5>
            </footer>
            <content>
                <p>
                    El nombre hojas de estilo en cascada viene del ingles cascadign style sheets, del que toma sus siglas. CSS es un lenguaje para definir la presentacion de un
                    documento estructurado escrito en HTML. CSS es el lenguaje que describe como se debe mostrar un documento escrito en HTML.
                </p>
                <p>¿Para qué sivre el CSS3?</p>
                <p>
                    El CSS sirve para definir la estética de un sitio web en un documento externo y eso mismo permite que modificando este documento se pueda cambiar la estetica entera de un sitio web. El sito puede variar totalmente de estetica
                    cambiando unicamente solo el CSS, sin toca para nada los documentos HTML que lo componen.
                </p>
        </article>
        <aside class="top-siderbar">
             <h2>Navegación</h2>
             <ul class="navigation">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca De</a></li>
                    <li><a href="#">Contacto</a></li>
             </ul>     
        </aside>
        <aside class="bottom-sidebar">
            <div class="featured">
                <h2>¿Qué es y para que sirve JavaScript?</h2>
                <p>JavaScript es un lenguaj ligero e interpretado, orientado a objetos con funciones de primera clase, mas conocido como el lenguaje de script para paginas web, pero tambien esado en muchos entornos sin navegador, tales como node.js     
                </p>    
                <a href="#">Leer Mas</a>
            </div>
        </aside>
    </main>
    <footer class="pageFooter">
        <p>Copyrigth &copy; 2024 --www.testumg.com</p>
    </footer>
  </body>
</html>
